[Unit]
Description=Systemd service for vision
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/vision

[Install]
WantedBy=multi-user.target
